# Copy this file to .env and fill in your local values
# --- Database Credentials ---
POSTGRES_USER=myuser
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=brokerage_data
POSTGRES_HOST=db
POSTGRES_PORT=5432 # Default PostgreSQL port; change if you have a local instance running on a different port

# --- pgAdmin (Optional GUI) ---
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin_password_here

# --- HOST_PWD: Will provided from start script ---
